{% extends 'base.html' %}
{% block extrahead %}
{% load static %}
<script src="{% static 'chartjs/Chart.min.js' %}" type="text/javascript" charset='utf-8'></script>
<script src="{% static 'js/hicharts/js/highcharts.js' %}"></script>
<script src="{% static 'js/hicharts/js/modules/exporting.js' %}"></script>
<script type="text/javascript">

</script>

{% endblock %}
{% block content %}


<div id="chartcontainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="moviecounts" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		<script>

$(function () {
    $('#chartcontainer').highcharts({
        title: {
            text: "Average Movie Ratings by Gender as compared with Overall Average Rating",
            x: -20 //center
        },
        subtitle: {
            text: 'Source: MovieLens',
            x: -20
        },
        xAxis: {
            categories: ["unknown","Action","Adventure","Animation","Children\'s","Comedy","Crime","Documentary","Drama","Fantasy","Film-Noir","Horror","Musical","Mystery","Romance","Sci-Fi","Thriller","War","Western"]
        },
        yAxis: {
            title: {
                text: 'Average Rating /5'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '' //this adds to the label like for the measurement
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Overall Average',
            data: {{ avgrating }}
        }, {
            name: 'Men',
            data: {{ malerating }}
        },
			{
            name: 'Women',
            data: {{ femalerating }}
        }]
    });
});

$(function () {
    $('#moviecounts').highcharts({
        title: {
            text: "Movie Counts per Genre",
            x: -20 //center
        },
        subtitle: {
            text: 'Source: MovieLens',
            x: -20
        },
        xAxis: {
            categories: ["unknown","Action","Adventure","Animation","Children\'s","Comedy","Crime","Documentary","Drama","Fantasy","Film-Noir","Horror","Musical","Mystery","Romance","Sci-Fi","Thriller","War","Western"]
        },
        yAxis: {
            title: {
                text: 'Frequency'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'Movies'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
			type:"column",
			name:"Total Movies",
			data: {{ moviecounts }}
		}]
    });
});
	</script>
{% endblock %}
