<!DOCTYPE html>
<html>
  <head><title>One Movie Details</title></head>
  <body style="background:#001100; text-align:center; color:#fff">
    <h1>Movie Details</h1>    
      <h2>{{ movie.title }} </h2><hr />
      <span><strong>Released: </strong><em>{{ movie.release_date }}</em></span><br />
      <span><strong>Average Rating: </strong><em>{{ movie.average_rating }}</em></span>
      <br />
      <h1>Raters</h1>
      <ol>
	{% for user in users %}
	<li><a href="{% url 'user' user.rater.id %}">User {{user.rater }} - Zip {{user.rater.zip}}</a></li>
	{% endfor %}
	<br />
      <span style="float:left"><a href="{% url 'movies' %}">View All Movies</a></span>
  </body>
</html>
