{% extends 'base.html' %}
{% block content %}
	{% if movie %}
	  <h2><strong>Movie: </strong><em>{{ movie.title }}</em> </h2><hr />
      <span><strong>Released: </strong><em>{{ movie.release_date }}</em></span><br />
      <span><strong>Average Rating: </strong><em>{{ movie.average_rating }}</em></span>
      <br />
      <h1>Raters</h1>
      <ol>
	{% for user in users %}
	<li><a href="{% url 'user' user.rater.id %}">User {{user.rater }} - Zip {{user.rater.zip}}</a></li>
	{% endfor %}
	<div class="pagination">
		<span class="step-links">
			{% if users.has_previous %}
			<a href="?page={{ users.previous_page_number}}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ users.number }} of {{users.paginator.num_pages }}.
			</span>

			{% if users.has_next %}
			<a href="?page={{ users.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>
	{% endif %}
{% endblock %}
