{% extends 'base.html' %}
{% block content %}
<h4>Rater Demographics</h4>
{% if user %}
<table>
	<tr>
		<td>
			<h5>Rater ID #: <em>{{ user.number }}</em></h5>
			<p>Age: <em>{{ user.age }}</em></p>
			<p>Total Movies Rated: <em>{{user.rated_movies}}</em></p>
	</tr>
	</table>
    <table class="table">
      <tr>
	<th>Rating History for User # {{ user.number }} </th><th>&nbsp;&nbsp;</th><th>Recommend these movies to User {{ user.number }}</th>
      </tr>
      <tr>
	<td valign="top">
	  <ol>
	    {% for rate in ratings %}
	    <li><a href="{% url 'movie' rate.movie_id %}">{{ rate.movie }}</a> : {{ rate.rating }}<hr /></li>
	    {% endfor %}			      
	  </ol>
		<div class="pagination">
		<span class="step-links">
			{% if ratings.has_previous %}
			<a href="?page={{ ratings.previous_page_number}}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ ratings.number }} of {{ratings.paginator.num_pages }}.
			</span>

			{% if ratings.has_next %}
			<a href="?page={{ ratings.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>
	</td>
	<td>&nbsp;</td>
	<td valign="top">
	  <ol>
	    {% for movie in notwatched %}
	      <li><a href="{% url 'movie' movie.movie_id %}">{{ movie.title }}</a> :
			  <span>
				  {% if movie.movie_id not in currUserMovies %}
				  <a style="float:right" class="btn btn-xs btn-default"
						role="button"
					  href="{% url 'rate' movie.movie_id %}">Rate</a></span>
			  {% endif %}
			  <hr /></li>
	      {% endfor %}
	  </ol>
	</td>
      </tr>
    </table>
{% endif %}
{% endblock %}

	{% comment %}
				<td>
				 <video id="video" width="640" height="480" autoplay></video>
				<button id="snap">Snap Photo</button>
				<canvas id="canvas" width="640" height="480"></canvas>
			<script type="text/javascript" language="javascript">
			// Put event listeners into place
			window.addEventListener("DOMContentLoaded", function() {
				// Grab elements, create settings, etc.
					var canvas = document.getElementById("canvas"),
						context = canvas.getContext("2d"),
						video = document.getElementById("video"),
						videoObj = { "video": true },
						errBack = function(error) {
							console.log("Video capture error: ", error.code);
						};

				// Put video listeners into place
				if(navigator.getUserMedia) { // Standard
					navigator.getUserMedia(videoObj, function(stream) {
						video.src = stream;
						video.play();
					}, errBack);
				} else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
					navigator.webkitGetUserMedia(videoObj, function(stream){
						video.src = window.webkitURL.createObjectURL(stream);
						video.play();
					}, errBack);
				}
				else if(navigator.mozGetUserMedia) { // Firefox-prefixed
					navigator.mozGetUserMedia(videoObj, function(stream){
						video.src = window.URL.createObjectURL(stream);
						video.play();
					}, errBack);
				}
			}, false);
			// Trigger photo take
			document.getElementById("snap").addEventListener("click", function() {
				context.drawImage(video, 0, 0, 640, 480);
				});
			</script>
			
		</td>
{% endcomment %}
