{% extends 'base.html' %}
{% block content %}
{% if user %}
<div class="row">
	<div class="col-md-3">
		<h4>Rater Demographics</h4>
		<h5>Rater ID #: <em>{{ user.number }}</em></h5>
		<p>Age: <em>{{ user.age }}</em></p>
		<p>Total Movies Rated: <em>{{user.rated_movies}}</em></p>
	</div>
	<div class="col-md-3">
<img height="140" width="140" src="{{ user.photo.url }}" alt="Sovello's" class="img-circle">		
	</div>
	
	<div class="col-md-3">      
		<canvas id="canvas" width="160" height="120"></canvas>
	</div>
	<div class="col-md-3">
<video id="video" width="160" height="120" autoplay></video>
<button onclick="takeSnap()" id="snap">Snap Photo</button>
<script type="text/javascript" language="javascript">
	// Grab elements, create settings, etc.
		var canvas = document.querySelector('canvas'); //canvas tag
		var	context = canvas.getContext('2d'); //what is contained in the canvas
		var	video = document.querySelector('video'); // video tag
		var	videoObj = { "video": true }; //yes, we only want video, audio: true for audio
		var	errBack = function(error) { //what to return if we fail
				console.log("Video capture error: ", error.code);
			},
			localMediaStream = null; //all the info about the camera object

navigator.getUserMedia = navigator.GetUserMedia ||
						 navigator.webkitGetUserMedia ||
						 navigator.mozGetUserMedia ||
						 navigarot.msGetUserMedia;

function snapshot(){
	if(localMediaStream){
		//context = canvas.getContext('2d');
		context.drawImage(video, 0, 0, 160, 120);
		document.querySelector('img').src = canvas.toDataURL('image/jpeg');
		//canvas.toDataURL('image/png') gives a base64encoded image string.
	}
}
btn = document.getElementById('snap');

btn.addEventListener('click', snapshot, false); //wait until we click then start camera
var on_progress = '0';

function takeSnap(){
	if(on_progress == '0'){
		navigator.getUserMedia(videoObj, function(stream){
			video.src = window.URL.createObjectURL(stream);
			localMediaStream = stream;
			video.play();
			on_progress = '1';
		}, errBack);
	}
}

</script>

	</div>
</div>

    <table class="table">
		<tr>
	<th>Movies You Have Rated</th><th>&nbsp;&nbsp;</th><th>Top 20 Movies we recommend for you to watch and Rate</th>
      </tr>
      <tr>
	<td valign="top">
	  <ol>
	    {% for rate in ratings %}
	    <li><a href="{% url 'movie' rate.movie_id %}">{{ rate.movie }}</a> : {{ rate.rating }}<span> <a  style="float:right" class="btn btn-xs btn-default"  role="button" href="{% url 'editrating' rate.id %}">Edit Your Rating</a></span><hr /></li>
	    {% endfor %}			      
	  </ol>
		<div class="pagination">
		<span class="step-links">
			{% if ratings.has_previous %}
			<a href="?page={{ ratings.previous_page_number}}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ ratings.number }} of {{ratings.paginator.num_pages }}.
			</span>

			{% if ratings.has_next %}
			<a href="?page={{ ratings.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>
	</td>
	<td>&nbsp;</td>
	<td valign="top">
	  <ol>
	    {% for movie in notwatched %}
	    <li><a href="{% url 'movie' movie.movie_id %}">{{ movie.title }}</a> : <span><a style="float:right" class="btn btn-xs btn-default"  role="button"  href="{% url 'rate' movie.movie_id %}">Rate</a><hr /></li>
	    {% endfor %}
	  </ol>
	</td>
      </tr>
    </table>
{% endif %}

	{% endblock %}
<div class="row">
	<div class="col-md-6">
		<video autoplay></video>
		<img src="">
		<canvas style="display:none;"></canvas>
		<script>
			var video = document.querySelector('video');
			var canvas = document.querySelector('canvas');
			var ctx = canvas.getContext('2d');
			var localMediaStream = null;

			function snapshot(){
			if(localMediaStream){
			ctx.drawImage(video, 0, 0);
			document.querySelector('img').src = canvas.toDataURL('image/webp');
			}
			}
			video.addEventListener('click',snapshot,false);

			navigator.getUserMedia({video:true}, function(stream){
			video.src = window.URL.createObjectURL(stream);
			localMediaStream = stream;
			}, errorCallback);
		</script>
	</div>
</div>

