{% extends 'base.html' %}

{% block content %}
    <h1>Users List</h1>
    {% if users %}
    <ol>
     {% for user in users %}
       <li><a href="{% url 'user' user.id %}">{{ user.number }}</a></li>
     {% endfor %}
    </ol>
	<div class="pagination">
		<span class="step-links">
			{% if users.has_previous %}
			<a href="?page={{ users.previous_page_number}}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ users.number }} of {{users.paginator.num_pages }}.
			</span>

			{% if users.has_next %}
			<a href="?page={{ users.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>
	{% endif %}
	{% endblock %}	
