<!DOCTYPE html>
<html>
  <head><title>User Demographics</title></head>
  <body style="background:#001100; color:#fff">
    <h1>User Demographics</h1>      
    <h3>User: <em>{{ user.number }}</em></h3>
    <p>Age: <em>{{ user.age }}</em></p>
    <p>Total Movies Rated: <em>{{user.rated_movies}}</em></p>
    <hr />
    <h2>Movies Rated</h2>
    <table>
      <tr>
	<th>Movies Rated</th><th>Top 20 Movies we recommend for you to watch</th>
      </tr>
      <tr>
	<td valign="top">
	  <ol>
	    {% for rate in ratings %}
	    <li><a href="{% url 'movie' rate.movie_id %}">{{ rate.movie }}</a> : {{ rate.rating }}</li>
	    {% endfor %}			      
	  </ol>
	</td>
	<td valign="top">
	  <ol>
	    {% for movie in notwatched %}
	    <li><a href="{% url 'movie' movie.movie_id %}">{{ movie.title }}</a> : Rating {{movie.movie.rating}}</li>
	    {% endfor %}
	</td>
      </tr>
    </table>
  </body>
</html>
